@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(250px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(250px);
  }

  100% {
    transform: translateX(0);
  }
}

.hideModal {
  animation: slideRight 0.4s both ease-in-out;
}

.showModal {
  animation: slideLeft 0.4s both ease-in-out;
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(300px);
  }

  100% {
    transform: translateX(0);
  }
}

.hideModal.notificationModal {
  animation: slideRight 0.3s both ease-in-out;
}

.showModal.notificationModal {
  animation: slideLeft 0.4s both ease-in-out;
}

.showFilterPanel {
  animation: scaleUp both ease-in-out 0.2s;
}

.hideFilterPanel {
  animation: scaleDown both ease-in-out 0.2s;
}

@keyframes scaleUp {
  0% {
    scale: 0.5;
    opacity: 0%;
  }
  100% {
    scale: 1;
    opacity: 100%;
  }
}

@keyframes scaleDown {
  0% {
    scale: 1;
    opacity: 100%;
  }
  100% {
    scale: 0.5;
    opacity: 0%;
  }
}
